.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease !important;
}
.card-hover:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15)!important;
}
.btn-success{
  background-color: #6fc3ff;
  border-color: #28a745;
  border: 0px;
}
